{% extends 'backend/base.html' %}

{% block title %} Product List {% endblock %}

{% block content %}

  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Products</h1>
  </div>


  <div class="card">
    <form action="" method="get" class="card-header">
      <div class="form-row justify-content-between">
        <div class="col-md-2">
          <input type="text" name="title" placeholder="Product Title" class="form-control">
        </div>
        <div class="col-md-2">
          <select name="variant" id="" class="form-control">
            <option selected disabled>--Select A Variant--</option>
            <option disabled>Color</option>
            {% for color_variant in color_variants %}
              <option value={{ color_variant }}>{{ color_variant }}</option>
            {% endfor %}
            <option disabled>Value</option>
            {% for size_variant in size_variants %}
              <option value={{ size_variant }}>{{ size_variant }}</option>
            {% endfor %}
            <option disabled>Style</option>
            {% for style_variant in style_variants %}
              <option value={{ style_variant }}>{{ style_variant }}</option>
            {% endfor %}
          </select>
        </div>

        <div class="col-md-3">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">Price Range</span>
            </div>
            <input
                type="text" name="price_from" aria-label="First name" placeholder="From"
                class="form-control">
            <input type="text" name="price_to" aria-label="Last name" placeholder="To" class="form-control">
          </div>
        </div>
        <div class="col-md-2">
          <input type="date" name="date" placeholder="Date" class="form-control">
        </div>
        <div class="col-md-1">
          <button type="submit" class="btn btn-primary float-right"><i class="fa fa-search"></i></button>
        </div>
      </div>
    </form>

    <div class="card-body">
      <div class="table-response">
        <table class="table">
          <thead>
          <tr>
            <th>#</th>
            <th>Title</th>
            <th>Description</th>
            <th>Variant</th>
            <th width="150px">Action</th>
          </tr>
          </thead>

          <tbody>
          {% for product in page_obj %}
            <tr>
              <td>{{ product.id }}</td>
              <td>{{ product.product.title }} <br> Created at : {{ product.product.created_at }}</td>
              <td>Quality product in low cost</td>
              <td>
                <dl class="row mb-0" style="height: 80px; overflow: hidden" id="variant">

                  <dt class="col-sm-3 pb-0">
                    {{ product.product_variant_one.variant_title }} / {{ product.product_variant_two.variant_title }}
                                                                    / {{ product.product_variant_three.variant_title }}
                  </dt>
                  <dd class="col-sm-9">
                    <dl class="row mb-0">
                      <dt class="col-sm-4 pb-0">Price : {{ product.price }}</dt>
                      <dd class="col-sm-8 pb-0">InStock : {{ product.stock }}</dd>
                    </dl>
                  </dd>
                </dl>
                <button onclick="$('#variant').toggleClass('h-auto')" class="btn btn-sm btn-link">Show more
                </button>
              </td>
              <td>
                <div class="btn-group btn-group-sm">
                  <a href="" class="btn btn-success">Edit</a>
                </div>
              </td>
            </tr>
          {% endfor %}
          </tbody>

        </table>
      </div>
    </div>

    <!--Pagination status-->
    <div class="card-footer">
      <div class="row justify-content-between">
        <div class="col-md-6">
          <div class="pagination">
            <span class="step-links">
              <span class="current">
                Showing {{ page_obj.number }} to {{ page_obj.next_page_number }} out
                of {{ page_obj.paginator.num_pages }}.
              </span>
            </span>
          </div>
        </div>
      </div>
    </div>

    <!--Elided pagination navigation-->
    <ul class="pagination justify-content-center flex-wrap mt-2 mb-4">
      {% if page_obj.has_previous %}
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
      {% else %}
        <li class="disabled page-item"><span class="page-link">&laquo;</span></li>
      {% endif %}
      {% for i in page_range|default_if_none:page_obj.paginator.get_elided_page_range %}
        {% if page_obj.number == i %}
          <li class="active page-item"><span class="page-link">{{ i }} <span class="sr-only">(current)</span></span>
          </li>
        {% else %}
          {% if i == page_obj.paginator.ELLIPSIS %}
            <li class="page-item"><span class="page-link">{{ i }}</span></li>
          {% else %}
            <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
          {% endif %}
        {% endif %}
      {% endfor %}
      {% if page_obj.has_next %}
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
      {% else %}
        <li class="disabled page-item"><span class="page-link">&raquo;</span></li>
      {% endif %}
    </ul>


  </div>
{% endblock %}
